<view title="navTitle" hide-back-button="true" left-buttons="leftButtons" right-buttons="rightButtons"
      hide-back-button="true">

    <content has-header="true" padding="true">
        <h2>{{navTitle}}</h2>

        <div class="row">
            <div class="col-md-6 col-md-offset-3">Resize the page or change the numbers to see the d3 re-render!</div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3"><hr></div>
        </div>
        <div class="row">
            <div class="col-md-6 col-md-offset-3">
                <span>{{title}}</span>
                <d3-pie class="d3pie" data="d3Data" label="name" on-click="d3OnClick(item)"></d3-pie>
                <br>
                <br>
                <span>First Item</span>
                <input type="text" ng-model="d3Data[0].score"></input>
                <br>
                <span>Second Item</span>
                <input type="text" ng-model="d3Data[1].score"></input>
                <br>
                <span>Third Item</span>
                <input type="text" ng-model="d3Data[2].score"></input>
            </div>
        </div>
        <!--<div class="row">-->
            <!--<div class="col-md-6 col-md-offset-3"><hr></div>-->
        <!--</div>-->
        <!--<div class="row">-->
            <!--<div class="col-md-6 col-md-offset-3" ng-controller="DemoCtrl2">-->
                <!--<span>{{title}}</span>-->
                <!--<d3-bars data="d3Data" label="title"></d3-bars>-->
                <!--<br>-->
                <!--<br>-->
                <!--<span>First Item</span>-->
                <!--<input type="text" ng-model="d3Data[0].score"></input>-->
                <!--<br>-->
                <!--<span>Second Item</span>-->
                <!--<input type="text" ng-model="d3Data[1].score"></input>-->
                <!--<br>-->
                <!--<span>Third Item</span>-->
                <!--<input type="text" ng-model="d3Data[2].score"></input>-->
            <!--</div>-->
        <!--</div>-->

    </content>

</view>
